.product img {
  width: 286px;
  border-radius: 8px;
  margin: 8px;
}

.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.name {
  font-family: "Lato";
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  font-weight: normal;
  margin-top: 7px;
}
.product-content {
  margin: 14px;
}
.product-content p {
  margin: 0;
}
.buttonCart {
  width: 100%;
  background-color: #ffe0b3;
  border-radius: 0 0 8px 8px;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnText {
  margin-right: 7px;
}
.buttonCart:hover {
  background-color: #fcc067;
}
