.header {
  height: 80px;
  background: #1c2b35;
  display: flex;
  justify-content: space-around;
}
.header img {
  padding-bottom: 10px;
}
.menu {
  margin: 30px 0;
}
nav li {
  list-style: none;
  display: inline;
  padding: 0 15px;
}
nav li a {
  color: #fff;
  text-decoration: none;
}
